/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


    /* Remove default bullets */
    ul, #myUL {
      list-style-type: none;
  }

  /* Remove margins and padding from the parent ul */
  #myUL {
      margin: 0;
      padding: 0;
  }

  /* Style the caret/arrow */
  .caret {
      cursor: pointer;
      user-select: none; /* Prevent text selection */
      color: #007bff;
      margin-left: 15px;
  }

      /* Create the caret/arrow with a unicode, and style it */
      .caret::before {
          content: "\25B6";
          color: #007bff;
          display: inline-block;
          margin-right: 6px;
      }

  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
      transform: rotate(90deg);
  }

  /* Hide the nested list */
  .nested {
      display: none;
  }

  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
      display: block;
  }

  .commentBox {
      position: relative;
      overflow: hidden;
      display: block;
      background: #f5f5f5;
      font-size: 14px;
      padding: 20px;
      border-radius: 8px;
      margin: 0 0 20px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
  .commentMember {
      font-size: 18px;
      color: #555;
  }
  .commentUserImage {
      width: 90px;
      display: block;
      border-radius: 50%;
      vertical-align: middle;
      float: left;
      margin-right: 10px;
      margin-top: 5px;
  }
  .cbtn {
      display: inline-block;
      font-weight: bold;
      font-size: 12px;
      padding: 6px 15px;
      border-radius: 20px;
      line-height: 1.4;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
  .cbtn:hover {
      color: white;
      text-decoration: none;
  }
  .btnReply {
      color: #fff;
      background-color: #5bc0de;
      border-color: #46b8da;
  }
  .btnDelete {
      color: #fff;
      background-color: #F31431;
  }