
@{
    ViewData["Title"] = "Courses";
    Layout = "~/Areas/Identity/Pages/_ViewStart.cshtml";
}

<h1>Categorieën</h1>

<h3>Selecteer een categorie</h3>
        
<a>@Model.Grade</a>

@foreach(var type in Model.Types)
{ 
    <a>@type</a>
}

@section scripts {
    <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}



