@using G10_ProjectDotNet.Models.Domain
@model G10_ProjectDotNet.Models.CourseViewModel.CourseModuleViewModel
@{
    ViewData["Title"] = "Module";
}

<a asp-controller="Course" asp-action="Index" asp-route-memberId="@Model.MemberId"> < Terug naar overzicht</a>
<h1>@Model.CourseModule.Name</h1>
@if (Model.CourseModule.Text == null || Model.CourseModule.Text == "")
{
    <br />
    <p class="text-info">Oefening moet nog aangevuld worden met tekst.</p>
}
else
{
    <br />
    <p>@Model.CourseModule.Text</p>
}
@if (Model.CourseModule.Url == null || Model.CourseModule.Url == "")
{
    <br />
    <p class="text-info">Oefening heeft nog geen video ter beschikking.</p>
}
else
{
    <br />
    <iframe width="605"
            height="340"
            src="@Model.CourseModule.Url"
            frameborder="1"
            allowfullscreen></iframe>
}

