@model G10_ProjectDotNet.Models.CourseViewModel.CourseModuleViewModel
@{
    ViewData["Title"] = "Module";
}

<a asp-controller="Course" asp-action="Index" asp-route-memberId="@Model.MemberId"> < Terug naar overzicht</a>
<h1>@Model.CourseModule.Name</h1>
