<style>
    /* Remove default bullets */
    ul, #myUL {
    list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #myUL {
    margin: 0;
    padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
    cursor: pointer; 
    user-select: none; /* Prevent text selection */
    color: #007bff;
    margin-left: 15px;
    }

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
    content: "\25B6";
    color: #007bff;
    display: inline-block;
    margin-right: 6px;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
    transform: rotate(90deg); 
    }

    /* Hide the nested list */
    .nested {
    display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
    display: block;
    }
</style>

@model G10_ProjectDotNet.Models.CourseViewModel.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="offset-md-1">
    <h1 class="mb-3">Lesmateriaal</h1>
    <div class="col-md-4">
    <h3>Modules:</h3>
    @foreach (var course in Model.Courses)
    {
        <ul id="myUL">
            <li>
                <span class="caret">@course.MinGrade</span>
                <ul class="nested">
                    @foreach (var module in course.Modules)
                    {
                        <li><a asp-controller="Course" asp-action="Detail" asp-route-courseModuleId="@module.CourseModuleId" asp-route-memberId="@Model.MemberId">@module.Name</a></li>
                    }
                </ul>
            </li>
        </ul>
    }
    </div>
    <div class="col-md-6">
        <vc:Detail></vc:Detail>
    </div>
</div>

    <script>
        var toggler = document.getElementsByClassName("caret");
        var i;

        for (i = 0; i < toggler.length; i++) {
            toggler[i].addEventListener("click", function () {
                this.parentElement.querySelector(".nested").classList.toggle("active");
                this.classList.toggle("caret-down");
            });
        }
    </script>
