@model G10_ProjectDotNet.Models.GroupViewModels.IndexViewModel
@{
    ViewData["Title"] = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Groups</h1>


@if(Model.UserGroups != null)
{
    <h1>Deelnemers in de geselecteerde groep</h1>
    <table class="table">
        <tr>
            <th>UserId</th>
            <th>Naam</th>
            <th></th>
        </tr>
        @foreach(var item in Model.UserGroups)
        {
            <tr>
                <td>
                    @item.MemberId
                </td>
                <td>
                    @item.Member.UserName
                </td>
                <td>
                    <a asp-controller="Attendance" asp-action="Create" asp-route-memberId="@item.MemberId" asp-route-groupId="@item.GroupId">Registreer aanwezigheid</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h1>Er is momenteel geen sessie bezig</h1>
}


