<style>
    .userDiv {
        width: 24%;
        display: inline-block;
        margin-left: 1%;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 10px;
        background-color: #f8f8f8;
    }

        .userDiv:nth-child(4n + 1) {
            margin-left: 0;
        }

    .userImage {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .userName {
        text-align: center;
        font-weight: bold;
    }
</style>

@model G10_ProjectDotNet.Models.SessionViewModels.IndexViewModel
@{
    ViewData["Title"] = "Session";
}

@if (Model.Session == null)
{
    <form method="post">
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Er is momenteel geen sessie bezig</h1>
                <p class="lead text-muted"></p>
                <p>
                    <input type="submit" asp-controller="Session" asp-action="Create" class="btn btn-primary" value="Sessie starten" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Terug naar start</a>
                </p>
            </div>
        </section>
    </form>
}
else
{
    <h1 class="mb-3">Registratie</h1>
    <br>
    <form method="post">

        @foreach (var member in Model.Members)
        {
            <div class="userDiv">

                @if ((int)@member.Gender == 1)
                {
                    <img src="https://wallfar.com/jiu/avatar-male.png" class="userImage">
                }
                else if ((int)@member.Gender == 2)
                {
                    <img src="https://wallfar.com/jiu/avatar-female.png" class="userImage">
                }

                <p class="userName">
                    @member.UserName (#@member.Id)
                </p>

                @if (!Model.AlreadyRegistered(member.Id))
                {
                    <a asp-controller="Course" asp-action="Index" asp-route-memberId="@member.Id" class="btn btn-primary">Lesmateriaal weergeven</a>
                }
                else
                {
                    <input type="submit" asp-controller="Attendance" asp-action="Create" asp-route-memberId=@member.Id class="btn btn-success" style="width:100%;" value="Registreer aanwezigheid"/>
                }

                @if (ViewContext.HttpContext.User.IsInRole("Teacher") && !Model.AlreadyRegistered(member.Id))
                {
                    <input type="submit" asp-controller="Session" asp-action="RegisterAttendancy" asp-route-memberId=@member.Id class="btn btn-danger" value="X"/>
                }

            </div>
        }
        <br>
        @if (Model.RegistrationEnded)
        {
            <input type="submit" asp-controller="Session" asp-action="EndSession" class="btn btn-primary" value="Sessie beëindigen"/>
        }
        else
        {
            <input type="submit" asp-controller="Session" asp-action="EndRegistration" class="btn btn-primary" value="Registratie beëindigen"/>
        }
    </form>

    @section scripts {
        <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
        <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
}

