@model G10_ProjectDotNet.Models.SessionViewModels.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.Sessions == null)
{
    <h1>Er zijn vandaag geen sessies beschikbaar.</h1>
}
else
{
    // Toon sessies van vandaag
    <h1>Sessies die vandaag plaatsvinden</h1>
    <table class="table">
        <tr>
            <th>SessionId</th>
            <th>Van</th>
            <th>Tot</th>
            <th>Aantaal ingeschreven</th>
            <th>Registreer</th>
        </tr>
        @foreach (var sessie in Model.Sessions) 
        {
            <tr>
                <td>@sessie.SessionId</td>
                <td>@sessie.StartDate.TimeOfDay.ToString("hh\\:mm")</td>
                <td>@sessie.EndDate.TimeOfDay.ToString("hh\\:mm")</td>
                <td>@sessie.AmountEnrolled</td>
                <td><a asp-controller="Session" asp-action="Register" asp-route-formulaId=@sessie.Formula.FormulaId>Registreer aanwezigheid</a></td> <!-- lijst tonen met alle members in die sessie -->
            </tr>
        }
    </table>
    <form asp-controller="" asp-action="">
        <button id="update-profile-button" type="submit" class="btn btn-primary">Inschrijven voor een proefles!</button>
    </form>
}
