@model List<G10_ProjectDotNet.Models.Domain.Member>
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<table class="table">
    <tr>
        <th>UserId</th>
        <th>Naam</th>
        <th>Status</th>
        <th>Registreer</th>
        @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
        {
            <th class="text-right">Meld Afwezig</th>
        }
    </tr>
    @foreach (var member in Model)
        {
            <tr>
                <td>
                    @member.Id
                </td>
                <td>
                    @member.UserName
                </td>

                @if (member.Attendancy)
                {
                    <td>Aanwezig</td>
                    <td><a asp-controller="" asp-action="" asp-route-memberId="@member.Id" asp-route-formulaId=@member.Formula.FormulaId>Lesmateriaal weergeven</a></td>
                }
                else
                {
                    <td>Afwezig</td>
                    <td><a asp-controller="Session" asp-action="RegisterAttendancy" asp-route-memberId=@member.Id>Registreer aanwezigheid</a></td>
                }

                @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                {
                    <td class="text-right"><a asp-controller="Session" asp-action="RegisterAttendancy" asp-route-memberId=@member.Id>X</a></td>
                }

            </tr>
        }
</table>

@section scripts {
    <script asp-src-include="lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}