@page
@model IndexModel
@{
    ViewData["Title"] = "Persoonlijke gegevens";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>*
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Stuur bevestigingsmail</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Firstname"></label>*
                <input asp-for="Input.Firstname" class="form-control" />
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Lastname"></label>*
                <input asp-for="Input.Lastname" class="form-control" />
                <span asp-validation-for="Input.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender"></label>*
                <select asp-for="Input.Gender" asp-items="@Html.GetEnumSelectList<Gender>()" class="form-control">
                    <option>-- Selecteer jouw geslacht --</option>
                </select>
                <span asp-validation-for="Input.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NationalInsuranceNumber"></label>*
                <input asp-for="Input.NationalInsuranceNumber" class="form-control" />
                <span asp-validation-for="Input.NationalInsuranceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Registrationdate"></label>*
                @if (Model.Input.Registrationdate.Equals(new DateTime(0001, 01, 01)) || Model.Input.Registrationdate.Equals(new DateTime(1920, 01, 01)))
                {
                    <input asp-for="Input.Registrationdate" class="form-control" />
                    <span asp-validation-for="Input.Registrationdate" class="text-danger"></span>
                }
                else
                {
                    <input asp-for="Input.Registrationdate" class="form-control" disabled />
                }
            </div>
            <div class="form-group">
                <label asp-for="Input.BornIn"></label>*
                <input asp-for="Input.BornIn" class="form-control" />
                <span asp-validation-for="Input.BornIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Birthday"></label>*
                <input asp-for="Input.Birthday" class="form-control" />
                <span asp-validation-for="Input.Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.EmailParent"></label>
                <input asp-for="Input.EmailParent" class="form-control" />
                <span asp-validation-for="Input.EmailParent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country"></label>*
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 paddingTopForm">
            <div class="form-group">
                <label asp-for="Address.City"></label>*
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode"></label>*
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street"></label>*
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Number"></label>*
                <input asp-for="Address.Number" class="form-control" />
                <span asp-validation-for="Address.Number" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="Input.MobilePhoneNumber"></label>*
                <input asp-for="Input.MobilePhoneNumber" class="form-control" />
                <span asp-validation-for="Input.MobilePhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group paddingLeftForm">
                <input asp-for="Input.AgreeWithBylaws" type="checkbox" id="checkboxBylaws" class="form-check-input" />
                <label asp-for="Input.AgreeWithBylaws" class="form-check-label" for="checkboxBylaws"></label>
                <span asp-validation-for="Input.AgreeWithBylaws" class="text-danger"></span>
            </div>
            <div class="form-group paddingLeftForm">
                <input asp-for="Input.AgreeWithPicturesAndAudio" type="checkbox" id="checkboxPhotos" class="form-check-input" />
                <label asp-for="Input.AgreeWithPicturesAndAudio" class="form-check-label" for="checkboxPhotos"></label>
            </div>
            <div class="form-group paddingLeftForm" >
                <input asp-for="Input.ReceiveClubinfo" type="checkbox" id="clubInfo" class="form-check-input" />
                <label asp-for="Input.ReceiveClubinfo" class="form-check-label" for="clubInfo"></label>
            </div>
            <div class="form-group paddingLeftForm">
                <input asp-for="Input.ReceiveInfoAboutPromotionsAndFederalMatters" type="checkbox" id="promotionInfo" class="form-check-input" />
                <label asp-for="Input.ReceiveInfoAboutPromotionsAndFederalMatters" class="form-check-label" for="promotionInfo"></label>
            </div>
        </div>
        <div class="center-block row">
            <button id="update-profile-button" type="submit" class="btn btn-primary center-block marginLeftFormBtn">Opslaan</button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger marginLeftFormBtn">Annuleren</a>
        </div>
        <div class="clearfix"></div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}